@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, *{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb{
  background-color: #1b1b1b;
  border-radius: 100px;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}